
body{
    font-family: 'Open Sans', sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.cls-str{
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.head-cls{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.form-sec{
    display: grid;
    grid-template-rows: repeat(1fr);
    justify-content: center;
    grid-gap: 0.3rem;

}

.main-table{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #ffffff;
    border-radius: 3rem;
}

.row-data{
    display: grid;
    grid-template-columns:repeat( 6, 1fr );
    align-content: center;  
    text-align: center;
    padding-top: 0.5rem;
}


#update-form,#edit-form{
    display: none;
}



.btn {
	background: #d8e4ed;
    background-image: -webkit-linear-gradient(top, #d8e4ed, #000000);
    background-image: -moz-linear-gradient(top, #d8e4ed, #000000);
    background-image: -ms-linear-gradient(top, #d8e4ed, #000000);
    background-image: -o-linear-gradient(top, #d8e4ed, #000000);
    background-image: linear-gradient(to bottom, #d8e4ed, #000000);
	border-radius:42px;
	border:2px solid #0e46ff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:-1px 2px 0px #141fa1;
}
.btn:hover {
	background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #ffffff);
    background-image: -moz-linear-gradient(top, #000000, #ffffff);
    background-image: -ms-linear-gradient(top, #000000, #ffffff);
    background-image: -o-linear-gradient(top, #000000, #ffffff);
    background-image: linear-gradient(to bottom, #000000, #ffffff);
}

.alert {
    display: none;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  

  .closebtn:hover {
    color: black;
  }



  .input {
    padding: 7px;
    font-size: 14px;
    border-width: 2px;
    border-color: #CCCCCC;
    background-color: #cde8dc;
    color: black;
    border-style: double;
    border-radius: 12px;
    box-shadow: -6px 4px 14px rgba(66,66,66,.92);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}


.input[type=number]::-webkit-inner-spin-button, 
.input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


.row-head{
    font-weight: bolder;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgb(135, 117, 117);
}